<!doctype html>
<html>
<head>
	<title>Chatwala-Reporting Inbox Size</title>
	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

    <!-- date picker -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <script>
        $(function(){
            $('#start_date').datepicker({
                defaultDate: "+1",
                changeMonth: true,
                numberOfMonths: 3,
                showOtherMonths:true
            });
            $('#end_date').datepicker({
                defaultDate: "+2d",
                changeMonth: true,
                numberOfMonths: 3
            });



            $('#submit_date_range').click(function(){
                var start = (new Date($('#start_date').val())).getTime();
                var end = (new Date($('#end_date').val())).getTime();
                if(end > start){
                    window.location.href = getBaseURL() + "reporting2?startTimestamp=" + start + "&endTimestamp=" + end;
                }
                else{
                    alert('The start date must precede the end date.');
                }
            })

            $('#submit_reset_date_range').click(function(){
                $('#start_date').val('');
                $('#end_date').val('');
                window.location.href = getBaseURL() + "reporting2";
            })

            function getBaseURL () {
                return location.protocol + "//" + location.hostname +
                        (location.port && ":" + location.port) + "/";
            }

        })
    </script>

</head>
<!-- Init ejs vars -->
<%
	var totalUsers = 0;
	var prevKey = '-1';
	var sub = 0;
	for(var k in inboxCountData){
		totalUsers += inboxCountData[k].length;
	}

    var get_formatted_date = function(date_obj){
        console.log(date_obj);
        return (date_obj.getMonth()+1) + "/" + date_obj.getDate() +  "/" + date_obj.getFullYear();
    }

    var total_users_with_conversations = 0;
    var total_threads_with_messages = 0;

    for(var i=0;i<convosPerUser.length;i++){
        total_users_with_conversations += convosPerUser[i].num_users_with_x_conversations;
    }

    for(var j=0;j<messagesPerConvo.length;j++){
        total_threads_with_messages += messagesPerConvo[j].num_threads_with_x_messages;
    }


%>
<body style='background:white'>

<div id="header">

    <div>Start Date: <input type="text" id="start_date"></div>
    <div>End Date: <input type="text" id="end_date"></div>
    <button id="submit_date_range">Run For Dates</button>
    <button id="submit_reset_date_range">Reset</button>
    <span style="padding-left:20px">Current Date Range:
    <%if(typeof range ==='undefined' || range==null){%>
        All </span>
    <%}else{%>
        <%=get_formatted_date(new Date(range.startTimestamp))%>-<%=get_formatted_date(new Date(range.endTimestamp))%> </span>
    <%}%>
</div>
<div style=" position: relative;">
	<table id='inboxtable' >
		<thead>
			<tr>
				<th># of messages (X)</th>
				<th># of users</th>
				<th># of users with X or more messages</th>
			</tr>
		</thead>
		<tbody>
			<!-- loop through for each count of messages in inbox -->
			<% for(var key in inboxCountData){ 
				if(prevKey == '-1'){
					sub = 0;
				}
				else{
					sub += inboxCountData[prevKey].length;
				}
			%>
				<tr>
					<td><%=key%></td>
					<td><%=inboxCountData[key].length%></td>
					<td><%= (totalUsers - sub) %> (<%= (((totalUsers - sub)/totalUsers)*100).toFixed(2) %>%)</td>
				</tr>

			<%
					prevKey = key;
				}
				totalUsers = totalUsers + totalUsersWithoutInbox;
			%>
			<tr>
				<td>Total</td>
				<td><%= totalUsers%></td>
			</tr>
		</tbody>
	</table>
</div>

<div>
    <table id="outboxtable">
        <thead>
        <tr>
            <th># of messages (X)</th>
            <th># of users</th>
            <th># of users with X or more outbound messages</th>
        </tr>
        </thead>
        <tbody>
        <!-- loop through for each count of messages in inbox -->
        <%
        var totalUsers = 0;
        var prevKey = '-1';
        var sub = 0;
        for(var k in outboxCountData){
            totalUsers += outboxCountData[k].length;
        }


        for(var key in outboxCountData){
            if(prevKey == '-1'){
                sub = 0;
            }
            else{
                sub += outboxCountData[prevKey].length;
            }
        %>
        <tr>
            <td><%=key%></td>
            <td><%=outboxCountData[key].length%></td>
            <td><%= (totalUsers - sub) %> (<%= (((totalUsers - sub)/totalUsers)*100).toFixed(2) %>%)</td>
        </tr>

        <%
            prevKey = key;
        }
        totalUsers = totalUsers + totalUsersWithoutInbox;
        %>
        <tr>
            <td>Total</td>
            <td><%= totalUsers%></td>
        </tr>
        </tbody>
    </table>
</div>
<div>
    <table id="conversationstable">
        <thead>
        <tr>
            <th># of conversations (x))</th>
            <th># of users</th>
            <th># of users with X or more conversations</th>
        </tr>
        </thead>
        <tbody>
        <!-- loop through for each count of messages in inbox -->
        <%
        var prevKey = '-1';
        var sub = 0;
        var totalConversations=0;

        for(var k=0; k<convosPerUser.length;k++){
            if(prevKey == '-1'){
                sub = 0;
            }
            else{
                sub += convosPerUser[prevKey].num_users_with_x_conversations;
            }
        %>
        <tr>
            <td><%=convosPerUser[k].num_conversations%></td>
            <td><%=convosPerUser[k].num_users_with_x_conversations%></td>
            <td><%= (total_users_with_conversations - sub) %> (<%= (((total_users_with_conversations - sub)/total_users_with_conversations)*100).toFixed(2) %>%)</td>
        </tr>

        <%
            prevKey = k;
            totalConversations += (convosPerUser[k].num_conversations * convosPerUser[k].num_users_with_x_conversations);
        }

        %>
        <tr>
            <td>Total Conversations</td>
            <td><%= totalConversations%></td>
        </tr>
        </tbody>
    </table>
</div>

<div>
    <table id="messageConversationTable">
        <thead>
        <tr>
            <th># of messages in a conversation(x))</th>
            <th># of conversations</th>
            <th># of conversations with X or more messages</th>
        </tr>
        </thead>
        <tbody>
        <!-- loop through for each count of messages in inbox -->
        <%
        var prevKey = '-1';
        var sub = 0;
        var totalMessages=0;

        for(var k=0; k<messagesPerConvo.length;k++){
            if(prevKey == '-1'){
                sub = 0;
            }
            else{
                sub += messagesPerConvo[prevKey].num_threads_with_x_messages;
            }
        %>
        <tr>
            <td><%=messagesPerConvo[k].num_messages%></td>
            <td><%=messagesPerConvo[k].num_threads_with_x_messages%></td>
            <td><%= (total_threads_with_messages - sub) %> (<%= (((total_threads_with_messages - sub)/total_threads_with_messages)*100).toFixed(2) %>%)</td>
        </tr>

        <%
            prevKey = k;
            totalMessages += (messagesPerConvo[k].num_messages * messagesPerConvo[k].num_threads_with_x_messages);
        }

        %>
        <tr>
            <td>Total Messages</td>
            <td><%= totalMessages%></td>
        </tr>
        </tbody>
    </table>
</div>



<div>
    <table style="padding-left:20px">
        <thead>
        <th>Data Label</th>
        <th>Data Value</th>
        </thead>
        <tbody>
        <tr>
            <td>Total Messages Without Replies</td>
            <td><%=totalMessagesSentWithoutReplies%></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>